<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/1021285/OneDrive - Blue Yonder/Documents/JavaSampleProjects/OrderForm/testng-order.xml">
        <classes>
            <class name="com.Assesment.tests.OrderRequest.OrderCreation" />
        </classes>


    </test>
</suite>